html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  /* Set the fixed height of the footer here */
  line-height: 60px;
  /* Vertically center the text there */
  background-color: #f5f5f5;
  /* Not required */
}

body {
    padding-top: 60px;
    margin-bottom: 60px;
}

.nav-pills .nav-link.active {
 	background-color: rgb(64,64,64);   
    color: #F0F0F0;
}